*{
    margin: 0;
    padding: 0;
}
@font-face {
}
html {
    scroll-behavior: smooth !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
    font-size: 20px;
}
section,header{
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1vh 10vh;
    background-color: #1C2028;
    color:white;
    z-index: 10000;
    position: fixed;
    transition: 0.5s;
}
#menu li{
    list-style: none;
    display: inline-block;
    padding: 2vh;
}
#home,#shoeproduct,#jacketproduct,#shipping{
    width:100%;
    float:left;
    height:100vh;
    position: relative;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a{
    display: block;
    position: relative;
    padding: 0.2em 0;
}
a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #F26524;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
a:hover::after,a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
li:nth-child(1) a::after{
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
li:nth-child(1) a:hover::after,li:nth-child(1) a:focus::after{
    transform: scale(1);
}
li:nth-child(2) a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
li:nth-child(2) a:hover::after,li:nth-child(2) a:focus::after{
    transform: scale(1);
}
li:nth-child(3) a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
li:nth-child(3) a:hover::after,li:nth-child(4) a:focus::after{
    transform: scale(1);
}
li:nth-child(4) a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
li:nth-child(4) a:hover::after,li:nth-child(4) a:focus::after{
    transform: scale(1);
}
#home{
    background-image: url('../img/running.jpg');
    background-size:cover;
    background-repeat: no-repeat;
	font-family: 'futuracondensed_extra_bold', Arial, sans-serif;
	src: url('futura_condensed_extra_bold-webfont.woff2') format('woff2'),
         url('futura_condensed_extra_bold-webfont.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}
#doit{
    margin-top: 40vh;
    margin-left: 33vw;
}
#justdoit{
    position:absolute;
    height: 15vh;
    color: white;
	margin-top:18vh;
	margin-left: -5vh;
}
#nikelogo{
    margin-left: -15vh;
    margin-top: -15vh;
    height:32vh;
}
#shoeproduct{
    background-color: rgb(241, 241, 241);
    height: 82vh;
}
canvas{
    position: absolute;
    margin-left:-27.2vh;
    margin-top: 18.7vh;
    width:25vh;
}
#shoepic{
    width:55vh;
}
#shoe{
    position: absolute;
    margin-left:10.7vw;
    margin-top: 16.1vh;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #dddddd; 
}
::-webkit-scrollbar-thumb {
    background: #F26524; 
}
.scrolling {
	background-color: #1c20283b;
    transition: 0.5s;
}
#shoetext{
    margin-top: 42vh;
    margin-left: 54.2vw;
    font-size: 2vh;
    position: absolute;
}
#shoetextdesc{
    margin-top: 26vh;
    margin-left: 54.2vw;
    color:gray;
    font-size: 3vh;
    position: absolute;
}
#shoetexttitle{
    margin-left: 54.2vw;
    margin-top: 29vh;
    font-size: 4vh;
    position: absolute;
}
span{
    background: linear-gradient(#F26524, #F26524) 0 120% / 100% 2.8vh no-repeat;
}
#shoelist{
    margin-left: 54.2vw;
    font-size: 1.6vh;
    margin-top: 52vh;
    color:rgb(167, 167, 167);
    position: absolute;
}
#nikebg{
    margin-left: 52vw;
    margin-top: 40vh;
    width:50vh;
}
#jacketproduct{
    background-color: #1C2028;
    height: 110vh;
    color:rgb(241, 241, 241);
}
#jacket{
    position: absolute;
    margin-left:55.7vw;
    margin-top: 42.2vh;
}
#jacketpic{
    width:55vh;
}
#nikelogo2{
    position: absolute;
    height:10vh;
    margin-left:-38vh;
    margin-top: 36vh;
    width:10vh;
}
#jackettext{
    margin-top: 72vh;
    margin-left: 16vw;
    font-size: 2vh;
    position: absolute;
}
#jackettextdesc{
    margin-top: 56vh;
    margin-left: 16vw;
    font-size: 3vh;
    position: absolute;
}
#jackettexttitle{
    margin-left: 16vw;
    margin-top: 60vh;
    font-size: 4vh;
    position: absolute;
}
#jacketlist{
    margin-left: 16vw;
    font-size: 1.6vh;
    margin-top: 82vh;
    position: absolute;
}
#nikelogo3{
    position: absolute;
    margin-left: 16vw;
    margin-top: 43vh;
}
#shippingtitle{
    text-align: center;
    margin-top: 15vh;
    font-size: 4vh;
}
#shippingtext{
    text-align: center;
    font-size: 2vh;
}
#shipping{
    height:43vh;
}
img{
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#wave1{
    width:100%;
    margin-top: -10vh;
    position: absolute;
}
#wave2{
    width:100%;
    margin-top: -10vh;
}
#footer{
    background-color: #1C2028;
    height: 10vh;
	margin-top:50vh;
    color:rgb(241, 241, 241);
	font-size:1.2vh;
}
#location{
	margin-top:4vh;
	margin-left:8vh;
}
#locationtext{
	margin-top:-1.1vh;
	margin-left:11vh;
}
#copyright{
	color:gray;
	margin-top:-1.3vh;
	margin-left:19vh;
}
#footermenu{
	margin-top:-2.6vh;
	margin-left:130vh;
}
#footermenu li{
    list-style: none;
    display: inline-block;
    padding: 1vh;
	color:gray;
}
#nikelogo4{
    position: absolute;
    margin-left: 44vw;
	margin-top:-3vh;
}
area{
    cursor:pointer;
}